body {
  background-image: url("../assets/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
  position: relative;
  height: 100vh;
  width: 100%;
  margin: auto;
  padding: auto;
}
.App {
  margin: 0;
  width: 100vw;
  /* background-color: black; */
  height: 100vh;
}
